@import 'color';
@import 'reset';

body {
  background-color: $primary-color;
  color: white;
  height: 100%;
  line-height: 1.5;
  background: url(./../img/bg-login.jpg);
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba($color: $primary-color, $alpha: 0.5);
  }
}

.title {
  padding: 2rem;
  color: $secondary-color;
}

.login {
  font-size: 1.5rem;
  padding: 1.5rem;
  letter-spacing: 5px;
  width: 50%;
  margin: 0 auto;
  &-title {
    color: $secondary-color;
    padding: 1.5rem;
  }
  &-input {
    margin: 2rem;
    .login-icon {
      width: 50px;
      font-size: 1.5rem;
      text-align: center;
      color: $secondary-color;
    }
  }
  &-button {
    width: 40%;
    border-radius: 15px;
    background-color: $secondary-color;
    color: $primary-color;
    font-size: 1rem;
    letter-spacing: 3px;
    transition: 0.5s;
    &:hover {
      width: 45%;
    }
  }
}

// responsive

@media screen and (max-width: 768px) {
  .login {
    width: 90%;
  }
}
